*
   margin: 0 auto
   padding: 0
   max-width: 100%
html 
   height: 100%
#wrapper 
   margin: 0 auto
   min-height: 100%
   height: 100%
   height: auto
   position: relative
.top__img
   position: absolute
.top__img
   max-width: 100%   
.top__img_item
   position: fixed   
.top__info__item
   position: relative
   
  


                 




