* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

#wrapper {
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  height: auto;
  position: relative;
}

.top__img_item {
  max-width: 1440px;
}

.top__info__item {
  font-size: 55px;
  position: absolute;
  color: white;
  border-bottom: solid;
  border-top: solid;
  bottom: 480px;
  left: 357px;
}

.learn__more {
  color: white;
  position: relative;
  font-size: x-large;
  display: block;
  background-color: inherit;
  border: 2px solid;
  border-radius: inherit;
  padding: 15px;
  padding-left: 33px;
  padding-right: 33px;
  font-size: 14px;
  bottom: 339px;
  left: 8px;
}

.learn__more:hover {
  background-color: #333333;
  color: #66CD7C;
  cursor: wait;
  border-radius: 4px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
  top: -55px;
  width: 100%;
}

.nav__item {
  float: left;
}

.nav__item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

.nav__item a:hover {
  color: #66CD7C;
}

.nav__item:first-child {
  margin-left: 600px;
}

.img__logo {
  position: absolute;
  left: 144px;
  width: 124px;
  top: 4px;
}

.info__block {
  display: flex;
  margin-left: -216px;
  margin-bottom: 20px;
  margin-top: 37px;
}

.info__block_description {
  display: flex;
}

p {
  word-break: break-all;
  width: 300px;
  margin: 0px auto;
  margin-left: 116px;
}

.info__item_1 {
  margin-left: 332px;
}

.info__item_2 {
  margin-left: 183px;
}

.info__item_3 {
  margin-right: 258px;
}

.about__me {
  background-color: #F1F1F3;
  width: 100%;
  height: 630px;
  margin-top: 77px;
}

.about__me .about__me_img {
  height: 630px;
}

.about__me_description {
  float: right;
  margin-right: 344px;
  margin-top: 80px;
  width: 512px;
}

.about__me_description p {
  margin-left: auto;
  margin: 0;
  margin-top: 29px;
  width: auto;
  color: #919193;
}

.about__me_description h2 {
  color: #586366;
}

.icon_1 {
  left: -49px;
  position: relative;
  top: -292px;
  width: 60px;
  display: -webkit-box;
  width: max-content;
}

.icon_1 h3 {
  margin-left: 17px;
}

.icon_1 p {
  position: absolute;
  left: -58px;
  top: 35px;
}

.icon__web {
  color: #5A6165;
}

.icon_1 p {
  color: #919093;
}

.icon_2 {
  width: min-content;
  box-sizing: border-box;
  position: relative;
  left: 433px;
  bottom: 331px;
  display: block;
}

.icon_2 img {
  position: absolute;
}

.icon_2 p {
  margin-top: 12.5px;
  margin-left: 49px;
  color: #919093;
}

.icon__graphic {
  padding-left: 48px;
  color: #5A6165;
}

.icon_3 {
  width: min-content;
  box-sizing: border-box;
  position: relative;
  left: 47px;
  bottom: 271px;
  display: block;
}

.icon_3 img {
  position: absolute;
  left: -4px;
}

.icon_3 p {
  margin-top: 12.5px;
  margin-left: 49px;
  color: #919093;
}

.icon__marketing {
  padding-left: 48px;
  color: #5A6165;
}

.icon_4 {
  width: min-content;
  box-sizing: border-box;
  position: relative;
  left: 433px;
  bottom: 342px;
  display: block;
}

.icon_4 img {
  position: absolute;
  left: -4px;
}

.icon_4 p {
  margin-top: 12.5px;
  margin-left: 49px;
  color: #919093;
}

.icon__seo {
  padding-left: 48px;
  color: #5A6165;
}

.my__skills {
  height: 518px;
  overflow: hidden;
}

.my__skills h2 {
  color: #485258;
}

.my__skills p {
  margin: 0;
  width: 450px;
  color: #8E8E90;
}

.skills__aside {
  left: 156px;
  position: absolute;
  margin-top: 80px;
}

.contact__me {
  color: #4FC36B;
  position: relative;
  background-color: inherit;
  border: 1.2px solid;
  border-radius: inherit;
  padding: 15px;
  padding-left: 33px;
  padding-right: 33px;
  font-size: 14px;
  font-weight: 600;
}

.contact__me:hover {
  cursor: pointer;
  border-radius: 4px;
  background-color: #3F4D53;
}

.percentage__level {
  color: #3F4D53;
}

.percentage__level p {
  padding: 1.5px;
}

.percentage__level_item {
  width: 600px;
  height: 20px;
  background-color: #F1F1F3;
}

.prozent {
  display: none;
}

.percentage__level_item_transition {
  width: 100px;
  height: 20px;
  background-color: #64C97A;
  margin: 0;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.percentage__level_item_transition:hover {
  width: 540px;
}

.percentage__level_item_transition:hover .prozent {
  text-align: right;
  position: absolute;
  text-align: webkit-right;
  display: inline-block;
  width: 530px;
  color: white;
  cursor: pointer;
}

.percentage__level {
  display: grid;
  position: relative;
  top: 115px;
  left: 300px;
}

.percentage__level h3 {
  margin-left: 416px;
  margin-bottom: 10px;
}

.percentage__level_item {
  width: 600px;
  height: 20px;
  background-color: #F1F1F3;
}

.prozent_1 {
  display: none;
}

.percentage__level_item_transition_1 {
  width: 100px;
  height: 20px;
  background-color: #64C97A;
  margin: 0;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.percentage__level_item_transition_1:hover {
  width: 490px;
}

.percentage__level_item_transition_1:hover .prozent_1 {
  text-align: right;
  position: absolute;
  text-align: webkit-right;
  display: inline-block;
  width: 480px;
  color: white;
  cursor: pointer;
}

.percentage__level {
  display: grid;
  position: relative;
  top: 115px;
  left: 300px;
}

.percentage__level h3 {
  margin-left: 416px;
  margin-bottom: 10px;
}

.percentage__level_item {
  width: 600px;
  height: 20px;
  background-color: #F1F1F3;
}

.prozent_3 {
  display: none;
}

.percentage__level_item_transition_3 {
  width: 100px;
  height: 20px;
  background-color: #64C97A;
  margin: 0;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.percentage__level_item_transition_3:hover {
  width: 430px;
}

.percentage__level_item_transition_3:hover .prozent_3 {
  text-align: right;
  position: absolute;
  text-align: webkit-right;
  display: inline-block;
  width: 420px;
  color: white;
  cursor: pointer;
}

.percentage__level {
  display: grid;
  position: relative;
  top: 115px;
  left: 300px;
}

.percentage__level h3 {
  margin-left: 416px;
  margin-bottom: 10px;
}

.resume__container {
  position: relative;
}

.resume__container h2 {
  color: #455053;
}

.resume_description {
  display: inline-block;
  text-align: center;
  /* margin: 0 auto; */
  /* padding: 0; */
  width: -webkit-fill-available;
  top: 100px;
  position: absolute;
}

.resume_description p {
  margin: 0 auto;
  width: 860px;
  color: #8E8D90;
}

.resume_description button {
  width: 180px;
  height: 50px;
  margin-top: 58px;
  color: #4FC36B;
  background-color: inherit;
  border: 1.2px solid;
  border-radius: inherit;
  font-size: 14px;
  font-weight: 600;
}

.resume_description button:hover {
  background-color: #333333;
  color: #66CD7C;
  cursor: wait;
  border-radius: 4px;
}

.my__education {
  height: 620px;
  overflow: hidden;
}

.my__education h2 {
  color: #485258;
}

.my__education p {
  margin: 0;
  width: 450px;
  color: #8E8E90;
}

.education__aside {
  left: 156px;
  position: absolute;
  margin-top: 80px;
}

.diploma__item {
  display: inline-block;
  position: relative;
  left: 838px;
  top: 146px;
}

.diploma__item h4 {
  margin-bottom: 12px;
  color: #1A383B;
}

.diploma__item .level__des_item {
  border: 1px solid;
  width: max-content;
  padding: 5px;
  font-size: x-small;
  margin-top: 14px;
  background-color: #59C370;
  color: white;
  margin-bottom: 8px;
}

.cit-diploma__item {
  display: inline-block;
  position: relative;
  top: 200px;
  left: 838px;
}

.cit-diploma__item h4 {
  margin-bottom: 12px;
  color: #1A383B;
}

.cit-diploma__item .cit-level_item {
  border: 1px solid;
  width: max-content;
  padding: 5px;
  font-size: x-small;
  margin-top: 14px;
  background-color: #59C370;
  color: white;
  margin-bottom: 8px;
}

.hr {
  width: 1144px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #CBCBCD;
}

.work__experience {
  height: 900px;
  overflow: hidden;
}

.work__exerience h2 {
  color: #485258;
}

.work__experience p {
  margin: 0;
  width: 450px;
  color: #8E8E90;
}

.work__experience_aside {
  left: 156px;
  position: absolute;
  margin-top: 80px;
}

.lead_item {
  display: inline-block;
  position: relative;
  left: 838px;
  top: 146px;
  margin-bottom: 30px;
}

.lead_item h4 {
  margin-bottom: 12px;
  color: #1A383B;
}

.lead_item .lead-level_item {
  border: 1px solid;
  width: max-content;
  padding: 5px;
  font-size: x-small;
  margin-top: 14px;
  background-color: #59C370;
  color: white;
  margin-bottom: 8px;
}

.junior_item {
  display: inline-block;
  position: relative;
  left: 838px;
  top: 146px;
  margin-bottom: 30px;
}

.junior_item h4 {
  margin-bottom: 12px;
  color: #1A383B;
}

.junior_item .junior-level_item {
  border: 1px solid;
  width: max-content;
  padding: 5px;
  font-size: x-small;
  margin-top: 14px;
  background-color: #59C370;
  color: white;
  margin-bottom: 8px;
}

.developer_item {
  display: inline-block;
  position: relative;
  left: 838px;
  top: 146px;
  margin-bottom: 30px;
}

.developer_item h4 {
  margin-bottom: 12px;
  color: #1A383B;
}

.developer_item .developer-level_item {
  border: 1px solid;
  width: max-content;
  padding: 5px;
  font-size: x-small;
  margin-top: 14px;
  background-color: #59C370;
  color: white;
  margin-bottom: 8px;
}

.description__slider {
  width: 1440px;
  height: 414px;
  background-color: #F1F1F3;
  text-align: center;
}

.description_1 {
  display: grid;
  text-align: center;
  position: relative;
  top: 112px;
}

.description_1 p {
  margin: 0 auto;
  width: 940px;
}

.description_1 h3 {
  margin-top: 50px;
}

.slider__control {
  display: inline-block;
  width: max-content;
  position: relative;
  top: 188px;
}

.slider__control ul {
  display: flex;
  list-style-type: none;
}

.slider__control ul li {
  color: #65C57B;
  left: 50px;
  border: 1.5px solid;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 4px;
}

.slider__control ul li:hover {
  background-color: #65C57B;
  cursor: pointer;
}

.portfolio {
  display: grid;
}

.portfolio__head {
  text-align: center;
  margin-top: 80px;
}

.portfolio__head h2 {
  margin: 0;
}

.portfolio__head p {
  margin: 0 auto;
  width: 600px;
}

.portfolio__katalog {
  margin-top: 80px;
}

.portfolio__item-3, .portfolio__item-2 {
  margin-left: 44px;
}

.portfolio__katalog {
  margin-top: 80px;
}

.portfolio__item-3, .portfolio__item-2 {
  margin-left: 44px;
}

.portfolio__katalog {
  margin-top: 80px;
}

.portfolio__item-3, .portfolio__item-2 {
  margin-left: 44px;
}

a img:hover {
  box-shadow: 0px 2px 82px 17px grey;
}

footer {
  background-color: #262E32;
  color: #FDFEFF;
  overflow: hidden;
  height: 100%;
  margin-top: 100px;
}

form {
  display: inline-grid;
  position: relative;
  left: 300px;
  bottom: 165px;
}

form input {
  margin: 0;
  background: #4C5458;
  border: none;
  color: white;
  text-align: center;
}

.submit {
  margin: 0;
  border: none;
  background-color: #181E21;
  color: white;
  font-size: larger;
}

sup {
  vertical-align: super;
  font-size: smaller;
  color: #FCFEFF;
}

.form p {
  margin: 0;
  color: #FCFEFF;
}

textarea {
  background: #4D5357;
  border: none;
  color: white;
}

.title__contact-me {
  margin: 0;
  display: inline-block;
  position: relative;
  top: 100px;
  left: 130px;
}

.title__contact-me p {
  margin: 0;
  width: 500px;
  color: #8C8E90;
}

.footer__icon {
  height: 178px;
  background-color: #181E21;
  margin-top: -60px;
}

.icon {
  display: table;
  position: relative;
  top: 72px;
}

.icon h5 {
  position: relative;
  top: -22px;
  color: #474E50;
  /* margin: 0 auto; */
}

a.sprite {
  background: url("/Users/volodymyrtarasiuk/Desktop/site_portfolio/img/sprite_soc_icon.png");
  display: inline-block;
  width: 44px;
  height: 44px;
}

a.sprite.spr__tw {
  background-position: 44px;
  margin-left: 15px;
}

a.sprite.spr__tw:hover {
  background-position: 88px;
}

a.sprite.spr__fb {
  background-position: -44px;
}

a.sprite.spr__fb:hover {
  background-position: -88px;
}

a.sprite.spr__d {
  background-position: 0px;
}

a.sprite.spr__d:hover {
  background-position: 132px;
}

a.sprite.spr__g {
  background-position: 27%;
}

a.sprite.spr__g:hover {
  background-position: 36%;
}

a.sprite.spr__br {
  background-position: -220px;
}

a.sprite.spr__br:hover {
  background-position: -264px;
}

a.sprite.spr__in {
  background-position: 220px;
}

a.sprite.spr__in:hover {
  background-position: 176px;
}
 

 /*# sourceMappingURL= common.css.map */